# Auth0
VITE_AUTH0_DOMAIN=dev-wsy813w1pt6yvgsv.us.auth0.com
VITE_AUTH0_CLIENT_ID=H7mr0Tyx9RkCyw1iAFXEyrGmAgw3Gp6h

# Backend service base URLs
VITE_CENTRAL_API_URL=http://localhost:1934
VITE_COMPILE_API_URL=http://localhost:2982
VITE_SOCKET_URL=http://localhost:2981
VITE_CHAT_API_URL=http://localhost:2983
